* {
  font-family: var(--font-kanit);
}

.placeholder::after {
  content: attr(placeholder);
  opacity: 0;
  color: gray;
  transition: opacity 0.2s ease-in-out;
}

div:focus .placeholder::after {
  opacity: 1;
}

.placeholder {
  padding: 0 !important;
  color: unset !important;
  background-color: unset !important;
  font-weight: unset !important;
  border-bottom: unset !important;
  text-decoration: unset !important;
}
