.drop-zone-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px dashed var(--contrast-0_9);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  font-family: sans-serif;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.drop-zone-text {
  color: var(--contrast)
}

.drop-zone-wrapper:hover {
  background-color: var(--primary-0_8);
  transform: scale(1.01);
}

.drop-zone-wrapper:active {
  opacity: 0.8;
  transform: scale(0.99);
}
